/** Landing page **/
/* sammid37 */

.landing-h1 {font-family: 'Josefin Sans', sans-serif; font-size: 64px;}
.landing-h2 {font-size: 32px; font-weight: 400; margin-top: -24px;}
.landing-p {margin-top: 60px; font-size: 18px;}

.landing-button {
  cursor: pointer;
  font-family: 'Space Mono', monospace;
  font-style: italic;
  font-weight: 700;
  size: 18px;
  color: var(--white);
  background-color: var(--foam);
  margin: 40px 0px 40px 0px;
  border-radius: 3px;
  border: none;
  padding: 15px;
  width: 370px;
}

.landing-louie { margin-top: -20px; margin-bottom: -37px; }