/** Global CSS**/
/* @sammid37's custom CSS for Louie Application */
/* Most of the colors paletter where extracted from the Rosé Pine Theme */

:root {
  --white:#fff;
  --text: #575279;
  --muted: #9893a5;
  --subtle: #797593;
  --gray: #e3dad2;
  --base: #faf4ed;
  --surface: #fffaf3;
  --overlay: #f2e9e1;
  --foam: #619396;
  --blush: #b4637a;
}

body {
  display: block !important;
  padding: 0;
  margin: auto;
  background-color: var(--base);
  font-family: 'Space Mono';
  text-align: center;
  color: var(--text);
}

#root {
  margin: 0 auto;
  text-align: center;
}

.container {
  margin: auto;
  width: 65%;
  padding: 2rem;
}

/* Text */
a {text-decoration: none; color: var(--foam);}
#link-color {color: var(--text);}
.title, .subtitle {text-align: left; font-style: italic;}
.subtitle {font-size: 18px; margin-top: -16px;}
.title {font-size: 32px; }
.notes {font-size: 9px; color: var(--muted);}
/* 
.louie-left {width: 35%;}
.louie-right {width: 55%;} */
#asterisk{font-size: 10px; color: var(--blush);}

/* Navbar, footer */
.louie-mascot {width: 40%;}
nav{position: stick; display: flex; flex-wrap: wrap; justify-content: space-between; padding: 0.2rem 16rem;}
.navbar-links {display: flex; margin: 0 -1em;}
.navbar-links a {display: inline-block; margin: 0 1em;}
.navbar, .footer {background-color: var(--overlay);}
.navbar-logo {display: inline-flex; align-items: center; gap: 20px; text-align: left;}
.navbar-h1 {font-family: 'Josefin Sans', sans-serif; font-size: 32px;}
.navbar-h2 {font-size: 16px; font-weight: 400;}
.navbar-btn {border: none; background-color: transparent;}
.supplies-btn-view-list {
  cursor: pointer;
  font-family: 'Space Mono', monospace; 
  font-style: italic;
  font-weight: 700; 
  font-size: 14px;
  background-color: var(--foam); 
  border-radius: 12px;
  border: none; 
  padding: 7px;
  width: 180px;
  margin-left: 32px;
}

.footer { display: flex; padding: 5% 10% 5% 10%;}
.footer-logo { width: 28%; }
.footer-msg { width: 37%; }
.footer-h1, .footer-h2, .footer-p1, .footer-p2 {text-align: left;}
.footer-h1 { font-family: 'Josefin Sans', sans-serif; font-size: 32px;}
.footer-h2 { font-weight: 400; font-size: 16px; margin-top: -20px;}
.footer-p1, .footer-p2 {font-style: italic;}
.footer-p1 { font-weight: bold; font-size: 18px; }
.footer-p2 { margin-top: -12px; font-size: 12px;}